.vs/Due It/v14/.suo
Debug/Due It.exe
Debug/Due It.pdb
Due It/Debug/Assignment.obj
*.obj
*.log
*.tlog
*.idb
*.pdb
*.ilk
*.exe
*.suo
*.suo
Due It.VC.db
.vs/Due It/v14/.suo
Due It.VC.db
*.opendb
*.opensdf
*.sdf
*.ipdb
x64/Release/Due It.iobj