.vs/Due It/v14/.suo
Debug/Due It.exe
Debug/Due It.pdb
Due It/Debug/Assignment.obj
*.obj
*.log
*.tlog
*.idb
*.pdb
Due It/Due It.vcxproj
Due It/Due It.vcxproj.filters
*.ilk
*.exe
*.suo
*.suo
Due It.VC.db
.vs/Due It/v14/.suo
Due It.VC.db
*.opendb